<div class="player-container">
  <iframe id="player" src="{{authorization.player.host}}{{authorization.player.path}}?color=21D365&autoplay=1&authorization={{authorization.token}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen style="width: 100%; height: 650px"></iframe>
</div>

<pre>
  <code>
    {
      player: {
        embed: "{{authorization.player.html}}"
        host: "{{authorization.player.host}}",
        path: "{{authorization.player.path}}",
        token: "{{authorization.player.token}}"
      },
      video: {
        id: "{{authorization.video.id}}",
        title: "{{authorization.video.title}}",
      },
      expires_at: {{authorization.expires_at}}
    }
  </code>
</pre>
